{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}

{% assign begin_address = page.address | slice: 0, 4 | downcase  %}
{% if page.address == "online" %}
{% assign online = "true_private" %}
{% elsif begin_address contains "http" %}
{% assign online = "true_public" %}
{% else %}
{% assign online = "false" %}
{% endif %}

<div class="jumbotron">

  <div class="row">

     <div class="col-md-4">
     <img src="{{ relative_root_path }}{% link /assets/img/esm.png %}" align="left" alt="Earth System Modeling Logo Image" /></img>
     </div>
     <div class="col-md-8" >
       {% unless site.title == "Workshop Title" or site.title == "" %}
       <h2>{{site.title}}</h2>
       {% endunless %}
       <h3>George Mason University</h3>
       <h3>Department of Atm, Ocn, and Earth Sciences</h3>

       <h4>Tuesdays, Online, 10:30-1:10 </h4>

       <h4><a href="https://kathypegion.com">Prof. Kathy Pegion</a></h4>
     </div>


    </div>
</div>
